<div class="container column ">
    <div class="container row justify-center">
        <div class="container row g-8">
            <div class="g-8">
                <input class="w-100 my-1" id="name" [(ngModel)]="model.url" placeholder="url">
            </div>
            <div class="g-4">
                <button class="w-100 my-1" type="button" (click)="fetch()">get details</button>
            </div>
        </div>

    </div>
    <div class="container row g-12">
        <textarea class="w-100 h-50" placeholder="res">
            {{model.res}}
            </textarea>
    </div>
</div>